.attendance-list{
    width: 1200px;
    padding: 10px;
    margin-left: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.table{
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 50%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
table thead tr{
color: #fff;
background: #34AF6D;
text-align: left;
font-weight: bold;
}
.table th,
.table td{
padding: 12px 15px;
}
.table tbody tr{
border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
background: #f3f3f3;
}
.table tbody tr.active{
font-weight: bold;
color: #4AD489;
}
.table tbody tr:last-of-type{
border-bottom: 2px solid #4AD489;
}

h1{
    font-family: 'Fjalla One', sans-serif;
}