/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: rgb(255, 255, 255);
}
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  width: 90px;
  /* width: 280px; */
  background: #fff;
  overflow: hidden;
  transition: 1s;
}
nav:hover{
  width: 280px;
  transition: 1s;
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
  padding-bottom: 10px;
}

.logo img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  position: relative;
  width: 280px;
  font-size: 14px;
  color: rgb(85, 83, 83);
  display: table;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 20px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}



a:hover{
  background: #eee;
}
a:hover i{
  color: #34AF6D;
  transition: 0.5s;
}
.logout{
  position: absolute;
  bottom: 0;
}

.container{
  display: flex;
}

.users .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.users .card img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.users .card h4{
  text-transform: uppercase;
}
.users .card p{
  font-size: 12px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.users table{
  margin:  auto;
}
.users .per span{
  padding: 5px;
  border-radius: 10px;
  background: rgb(223, 223, 223);
}
.users td{
  font-size: 14px;
  padding-right: 15px;
}
.users .card button{
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #4AD489;
}
.users .card button:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}

/*Attendance List serction  */
.attendance{
  margin-top: 100px;
  text-transform: capitalize;
}
.attendance-list{
  width: 1350px;
  padding: 10px;
  margin-left: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
table thead tr{
  color: #fff;
  background: #34AF6D;
  text-align: left;
  font-weight: bold;
}
.table th{
  padding: 12px 15px;

}
.table td{
  padding: 12px 15px;
}

#description {
  word-break: break-all;

}

.table tbody tr{
  border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
  background: #f3f3f3;
}
.table tbody tr.active{
  font-weight: bold;
  color: #4AD489;
}
.table tbody tr:last-of-type{
  border-bottom: 2px solid #4AD489;
}



.table button{
  display: inline-block;
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #4AD489;
}
.table button:hover{
  background: #4AD489;
  color: #fff;
  transition: 0.5rem;
}

button.delete{
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ed7272;
}

button.delete:hover{
  background: #d44a4a;
  color: #fff;
  transition: 0.5rem;
}


a.create{
  position: absolute;
  margin-left: 20px;
  width: 50px;
  height: 30px;
  margin-top: 50px;
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(217, 255, 216);
  border: 1px solid #72ed9d;
}

a.create:hover{
  background: #4ad451;
  color: #fff;
  transition: 0.5rem;
}

button input.create{
  position: absolute;
  margin-left: 20px;
  width: 65px;
  height: 30px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  background: rgb(217, 255, 216);
  border: 1px solid #72ed9d;
}

button input.create:hover{
  background: #4ad451;
  color: #fff;
  transition: 0.5rem;
}

.hidden{
  display: none;

}

.rooms-submenu{
  padding-left: 20px;
  list-style: none;
}

.init{
  margin-top: 50px;
}


button{
  background-color: rgba(251, 251, 251, 0);
}

a{
  background-color: #ffffff;
}


.inline-button{
  display: inline-flex;
}

.acciones-button{
  margin: 10px;
}

.button-pdf-index a{
  top: 10px;
  left: 1100px;
  width: 100px;
  border: 1px solid #da4a4a;
  border-radius: 10px;
  background-color: #ffff;
}

.button-pdf-index a:hover{
  border-radius: 10px;
  background-color: #da4a4a;
  color: #fff;
}

.tittle-table{
  font-size: 3rem;
  text-align: center;
}

.button-crear-index a{
  top: 10px;
  width: 100px;
  border: 1px solid #4ada8a;
  border-radius: 10px;
  background-color: #ffff;
}

.button-crear-index a:hover{
  border-radius: 10px;
  background-color: #4ada8a;
  color: #fff;
}


#input-crear-form{
  position: relative;
  top: 140px;
  font-size: 20px;
  height: 45px;
  background-color: #00000000;
  border: 2px solid #4ada8a;
  cursor: pointer;
}

#input-crear-form:hover{
  font-size: 20px;
  height: 45px;
  background-color: #4ada8a;
  border: 2px solid #4ada8a;
  cursor: pointer;
}


.button-crear a{
  margin-top: 20px;
  margin-left: 20px;
  width: 100px;
  border: 1px solid #4ada8a;
  border-radius: 10px;
  background-color: #ffff;
}

.button-crear a:hover{
  border-radius: 10px;
  background-color: #4ada8a;
  color: #fff;
}

.form-admin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
}

.hrhabitaciones{
  width: 700px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1.5px solid #4ada8a;
  border-radius: 2px;
}

.hrcategorias{
  width: 700px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1.5px solid #4ada8a;
  border-radius: 2px;
}

/*Archivos*/


.file{
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

#nombre_archivo{
  margin-bottom: 10px;
}

.file input{
  display: none;
}

.file label{
  padding: 8px 21px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #4ada8a;
  cursor: pointer;
  
}

.form-admin input {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}
.form-admin textarea{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  padding-bottom: 100px;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}


